.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222222;
    width: 100%;
    position: fixed; /* Changed to fixed for a true sticky effect */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it stays above other content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for visibility */
}

.nav-bar-cards {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-bar-card {
    flex: 1;
    padding: 1rem 0rem;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 100%;
}

.nav-bar-card:hover {
    transition: 200ms;
    background-color: #292a2d;
}

.nav-bar-card.active {
    background-color: #292a2d;
}